<nav class="navbar navbar-light bg-light navbar-expand border">
      <ul class="navbar-nav col-5 justify-content-center">
        <a class="navbar-brand" href="#">
          <img src="/assets/logo.png" alt="" loading="lazy">
        </a>
      </ul>
          <ul class="col-6 navbar-nav justify-content-end">
            <div class="d-flex d-none d-sm-block h-100">
              <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a class="search_icon"><i class="fa fa-search"></i></a>
              </div>
             </div>
          <li class="nav-item d-none d-sm-block">
            <a class="search_icon mt-1 mx-2 pointer"><i class="fas fa-home fa-lg"></i></a>
          </li>
          <li class="nav-item d-none d-sm-block">
            <a class="search_icon mt-1 me-2 pointer"><i class="fab fa-facebook-messenger fa-lg"></i></a>
          </li>
          
          <li class="nav-item dropdown pointer">
            <div class="dropdown">
              <img src="{{currentUser?.picture?.thumbnail}}" class="rounded-circle" data-toggle="dropdown" >
               <div class="dropdown-menu">
                <button class="dropdown-item" type="button" routerLink = "/profile">My Profile</button>
                <button class="dropdown-item" type="button" (click) = "logout()">Logout</button>
               </div>
            </div> 
          </li>    
      </ul>
   </nav>