<p class="text-secondary fs-16 ml-2">Suggestions for you</p>
<ul class="list-group" style="list-style-type: none; border: none">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor = "let name of names;let i = index">
      <div class="d-flex">
        <div>
            <img src="https://picsum.photos/50/50?random={{i}}" class="rounded-circle me-2"> 
        </div>
        <div>
            <span class="fw-bold fs-14">{{name}}</span> <br>
            <span class="text-secondary fs-14">Follows you </span>
        </div>
      </div>
      <span class="text-primary mt-3 pointer">Follow</span>
    </li>
  </ul>