
<div class="card" style="height: 100px;">
    <div class="d-flex m-3"> 
  <div class="mx-2">
    <div class="round-border"> 
       <img src="https://picsum.photos/50/50" class="rounded-circle" style="margin: 0 auto;display: block;">
    </div>
    <p class="fs-12">John menu</p>
  </div>
  <div class="mx-2">
    <div class="round-border"> 
    <img src="https://picsum.photos/50/50" class="rounded-circle" style="margin: 0 auto;display: block;">
    </div>
    <p class="text-center fs-12">John menu</p>
  </div>
  <div class="mx-2">
    <div class="round-border"> 
       <img src="https://picsum.photos/50/50" class="rounded-circle" style="margin: 0 auto;display: block;">
    </div>
    <p class="fs-12">John menu</p>
  </div>
 
  </div>
</div>
