<app-navbar> </app-navbar>
<div class="d-flex justify-content-center mt-5">
        <div class="me-5">
            <img src="https://picsum.photos/200/200" class="rounded-circle"> 
        </div>
        <div>
           <span>Aakash Kumar</span> <br>
           <div class="d-flex">
            <p><b>21 </b>posts</p>
            <p class="mx-3"><b>128 </b>followers</p>
            <p><b>71 </b>following</p>
           </div>
             <span><b>Akash Kumar</b></span>
             <span>Software Enginner</span>
             <span>Lives in pakistan</span>
        </div>  
</div>
<div class="d-flex justify-content-center mt-5">
    <hr>
    <app-my-posts></app-my-posts>
</div>



