 <div infinite-scroll 
 (scrolled)="onScrollDown($event)"> 
 <div class="card w-100 mb-3" *ngFor = "let post of posts;let i = index">
    <div class="d-flex m-2">
      <div class="me-3"> 
        <img src = "{{post?.posts?.picture?.thumbnail}}" class="rounded-circle">
      </div>
      <div>
          <span class="font-weight-bold fs-16">{{post?.posts?.name.first }} {{post?.posts?.name?.last}}</span> <br>
          <span class="fs-14">{{post?.posts?.location?.city}}</span>
      </div> 
    <span class="col justify-content-end">
            <i class="fa fa-ellipsis-h float-right mt-3" aria-hidden="true"></i>
    </span> 
    </div>
    <div>
        <img src="https://picsum.photos/600/300?random={{i}}"style ="height: 300px;" class="w-100">
    </div>
    <div class="d-flex my-3">
        <i class="fa-heart fa-lg me-3 ml-2 pointer" [ngClass] = "{'far' : post?.like == false,'fas' : post?.like == true}" (click) = toggleLike(post)></i>
        <i class="far fa-comment fa-lg me-3 pointer"></i>
        <i class="far fa-paper-plane fa-lg pointer" type = "button" data-toggle="modal" data-target="#exampleModalCenter"></i>
        <span class="col justify-content-end">
            <i class="fa-bookmark fa-lg float-right pointer" [ngClass] = "{'far' : post?.saved == false,'fas' : post?.saved == true}" (click) = toggleSaved(post)></i>
        </span>
    </div>
    <div class="ml-2 mb-2">
        <span class="fs-14">Liked by <b> abc</b> and <b>others</b> </span><br>
        <span class="fs-14"><b>others </b><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></span><br>
        <div *ngFor = "let c of post?.coments">
            <span class="fs-12"><b>@{{currentUser?.name }} : </b>{{c}}</span> <br>

        </div>
         <span class="fs-12 text-secondary">View all 370 coments</span> <br>
        <span class="fs-12 text-secondary">12 hours ago</span>
    </div>
    <div class="border">
        <div class="d-flex ml-2">
            <i class="far fa-grin" style="margin-top: 10px;"></i>
            <input class="w-100" style="border: none;" [(ngModel)] = "comment[i]">
            <button class="btn btn-success" (click) = "postComment(i)" [disabled] = "comment[i] == null || comment[i] == ''" >Post</button>
        </div>
    </div>
    
  </div>
  <div class="spinner-border text-dark" style="margin: 0 auto; display: block;" role="status" *ngIf = "isLoading"></div>
</div>
<div class="row"> 
    <div class="col-10"> 
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Share using</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
            <div class="text-center">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-lg pointer fs-32 fb me-4"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-lg pointer fs-32 insta me-4"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter fs-32 tw me-4 pointer"> </i></a>
                <a href="https://www.tiktok.com" target="_blank"><i class="fab fa-tiktok fs-32 pointer tiktok"></i></a>
            </div>
   
  
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>